<link rel="stylesheet" href="{{ url_for('static', path='/css/style_.css') }}">
<div class="wrapper">
        <div class="uslugi_service">
            <div class="uslugi_service_title">Услуги и сервисы</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="support_column">



            <div class="item online_service">
                <h2 class="item title support_online_service">Онлайн сервис ВТЕКСТ</h2>

                <div class="item text online_webapp">
                    Веб-приложение ВТЕКСТ будет полезно, если Вам нужно преобразовать аудио и
                    видео файл в текст онлайн. Приложение не требует установки и работает из браузера.
                </div>
            </div>

            <div class="item support_format">
                <h2 class="item title support_format_title">Поддержка форматов</h2>
                <div class="item suport_format_frame">
                    <div class="item text support_format_app">
                        Веб-приложение ВТЕКСТ распознает аудио файл в формате mp3, wav, видео в формате mp4.
                        Если файл не обрабатывается сервисом, то скорее всего файл не того формата, поврежден,
                        либо слишком большой. Размер файла должен быть до 2 Гб.
                    </div>
                </div>
            </div>
            <div class="item security_service">
                <div class="item security_service_title">
                    <h2 class="item title security_service_title">Безопасность</h2>
                </div>
                <div class="item security_service_frame">
                    <div class="item text security_service_text">
                        Доступ к вашим файлам есть только у вас.
                        Файлы удаляются с серверов через несколько
                        минут с момента окончания обработки файла.

                    </div>
                </div>
            </div>


            <div class="item empty_1"></div>
            <div class="item empty_2"></div>
            <div class="item simple_interface_frame">
                <div class="item simple_interface_title">
                    <h2 class="item title simple_interface_title">Простой интерфейс</h2>
                </div>
                <div class="item text simple_interface_text">
                    После загрузки файла подождите немного,
                    сразу начнется обработка файла. Никаких
                    сложных функций: всё доступно
                    в один-два нажатия мышкой.
                </div>
            </div>
        </div>
    </div>
</body>
<div class="eclipse_down"></div>

<footer class="footer">

    <div class="wrapper">
        <div class="footer_item">
            <div class="footer_logo">
                <div class="footer_logo_pic"></div>
            </div>
            <div class="wrapper_down">
                <div class="copyright_block">
                    <h3 class="copyright">Дизайн Брандт Юлии</h3>
                </div>
            </div>
            <div class="footer_nav">
                <ul class="footer_menu">
                    <li class="footer_menu_item">
                        <a href="{{ ('index') }}"
                            class="footer_menu_main footer_menu_link">Главная</a>
                    </li>
                    <li class="footer_menu_item">
                        <a href="{{ ('audiototext') }}"
                            class="footer_menu_audio footer_menu_link">Аудио в текст</a>
                    </li>
                    <li class="footer_menu_item">
                        <a href="{{ ('videototext') }}"
                            class="footer_menu_video footer_menu_link">Видео в текст</a>
                    </li>
                    <li class="footer_menu_item">
                        <a href="{{ ('voicetotext') }}"
                            class="footer_menu_voice footer_menu_link">Голос в текст</a>
                    </li>
                    <li class="footer_menu_item">
                        <a href="#popup_dark_window" class="footer_menu_exit footer_menu_link">Вход</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="downlogo"></div>
<div id="popup_dark_window" class="popup_dark_window">
    <a href="#header" class="popup_area"></a>
    <div class="wrapper">

        <div class="popupreg_popupactive">
            <div class="registation">
                <div class="title_registration">
                    Регистрация
                </div>
                <div class="field_registration">
                    <div class="field_reg_style email_reg">
                        Email
                    </div>
                    <div class="field_reg_style name_reg">
                        Имя
                    </div>
                    <div class="field_reg_style password_reg">
                        Пароль
                    </div>
                    <div class="empty_reg"></div>
                    <div class="field_button_reg_act button_registration">Регистрация</div>

                </div>

            </div>
            <div class="active">
                <div class="title_active">
                    Авторизация
                </div>
                <div class="field_active">
                    <div class="field_reg_style email_active">
                        Email
                    </div>
                    <div class="field_reg_style passwors_active">
                        Пароль
                    </div>
                    <div class="field_button_reg_act button_active">Авторизация</div>
                </div>
            </div>
            <div class="popup_close_reg">
                <a href="#header" class="popup_close">X</a>
            </div>

        </div>
    </div>
</div>